table {
    font:12px verdana ;
    width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    border-bottom: 2px solid #000;
}
table thead {
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #000;
    cursor: pointer;
    height: 50px;
}
table thead tr th{
    padding: 0 10px;
}
table tbody tr {
    border-bottom: 2px solid #e4e4e4;
}
table tbody tr:nth-child(2n-1) {
    background: #f9f9f9;
}
table tbody tr:last-child {
    border-bottom: 2px solid #000;
}
table tbody td {
    padding:0 5px;
    width: 200px;
    height: 40px;
}

table tbody td:nth-child(2) {
    width: 300px;
}
table tbody td:nth-child(6){
    width: 100px;
    text-align: right;
}
table tbody td:nth-child(4){
    width: 50px;
    text-align: center;
}
table tbody td input{
    outline: 0px;
    width: 100%;
}
.pagination{
    margin: 15px auto;
    height: 50px;
    text-align: right;
    width: 900px;
}
.search{
    width: 900px;
    margin: 10px auto;
    text-align: right;
}
